:root {
  --dr-app-bar-height: 56px;
  --dr-primary-rgb: 103, 80, 164;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
::selection {
  background-color: rgba(var(--dr-primary-rgb), 0.16);
}
::-webkit-scrollbar {
  background: transparent;
  width: 12px;
}
::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #808080;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a9a9a9;
}
::-webkit-scrollbar-thumb:active {
  background-color: #c0c0c0;
}
body {
  background: rgba(var(--dr-primary-rgb), 0.04);
}
.dr-app-bar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 16px;
  width: 100%;
  height: var(--dr-app-bar-height);
  display: flex;
  align-items: center;
  backdrop-filter: blur(20px);
  box-sizing: border-box;
  user-select: none;
  z-index: 4;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dr-app--scrolled .dr-app-bar {
  background-color: rgba(var(--dr-primary-rgb), 0.16);
}
.dr-app-bar__content {
  margin-top: var(--dr-app-bar-height);
  padding: 20px 80px;
  box-sizing: border-box;
}
.dr-app-bar__title {
  padding: 0 32px;
  font-size: 1rem;
  line-height: 32px;
  opacity: 0.8;
}
.dr-app-bar__spacer {
  flex: 1;
}
.dr-dwmenu {
  flex-shrink: 0;
  padding: 0 16px;
  height: 100%;
  user-select: none;
}
.dr-dwmenu::before {
  content: "";
  position: fixed;
  top: var(--dr-app-bar-height);
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vmax;
  height: calc(100vh - var(--dr-app-bar-height));
  background-color: currentColor;
  filter: invert(100%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms;
  transition-delay: 0ms;
}
.dr-dwmenu__label {
  width: 100%;
  height: var(--dr-app-bar-height);
  line-height: var(--dr-app-bar-height);
  font-size: 1rem;
  font-weight: 400;
  transition: font-size 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.dr-dwmenu__slide {
  display: flex;
  flex-direction: column;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  transform: translateY(calc(-100% + var(--dr-app-bar-height)));
}
.dr-dwmenu__option {
  all: unset;
  height: 24px;
  line-height: 24px;
  font-size: 1rem;
  cursor: pointer;
}
.dr-dwmenu__option:first-child {
  transition: margin-top 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dr-dwmenu__option:hover {
  text-decoration: underline;
}
.dr-dwmenu:hover::before {
  opacity: 0.64;
  transition-delay: 300ms;
}
.dr-dwmenu:hover .dr-dwmenu__slide {
  transition-delay: 200ms;
  transform: translateY(0);
}
.dr-dwmenu:hover .dr-dwmenu__option:first-child {
  margin-top: calc((var(--dr-app-bar-height) - 24px) / 2);
}
.dr-dwmenu:hover .dr-dwmenu__label {
  font-size: 0.875rem;
  opacity: 0.8;
  transition-delay: 200ms;
}
.dr-action {
  all: unset;
  padding: 0 16px;
  height: var(--dr-app-bar-height);
  line-height: var(--dr-app-bar-height);
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.dr-action:hover {
  text-decoration: underline;
}

.dr-p {
  font-size: 1rem;
  line-height: 2em;
}

.dr-button {
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  height: 36px;
  font-size: 0.875rem;
  font-weight: 500;
  background: rgba(var(--dr-primary-rgb), 0.16);
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  cursor: pointer;
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1), outline 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dr-button:hover {
  background: rgba(var(--dr-primary-rgb), 0.24);
}
.dr-button:focus-visible {
  outline: 2px solid rgba(var(--dr-primary-rgb), 0.56);
}
.dr-button:active {
  background: rgba(var(--dr-primary-rgb), 0.32);
}

.dr-chip {
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  height: 24px;
  font-size: 0.875rem;
  font-weight: 500;
  background: rgba(var(--dr-primary-rgb), 0.16);
  border-radius: 12px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  cursor: pointer;
}

.dr-link {
  color: currentColor;
  text-decoration: none;
  background: rgba(var(--dr-primary-rgb), 0.08);
  border-bottom: 1px rgb(var(--dr-primary-rgb)) solid;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dr-link:hover {
  background: rgba(var(--dr-primary-rgb), 0.16);
}
.dr-link:focus {
  background: rgba(var(--dr-primary-rgb), 0.24);
}
.dr-link:active {
  background: rgba(var(--dr-primary-rgb), 0.32);
}

.dr-select {
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  height: 24px;
  font-size: 0.875rem;
  font-weight: 500;
  background: rgba(var(--dr-primary-rgb), 0.16);
  border-radius: 12px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  cursor: pointer;
}
.dr-select option {
  font-size: 0.875rem;
  font-weight: 500;
}
